body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: minmax(275px, 20%) 1fr;
    grid-template-rows: 17vh 83vh;    
}


* {
    background-color: inherit;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'robotoregular';
}

@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2'),
         url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.search,
.welcome {
    margin-left: 1rem;
}

.search {
    display: flex;
    align-items: center;
    align-content: center;
}

.search label {
    display: flex;
}

#search {
    border-radius: 10px;
    width: 80%;
    height: 2rem;
    font-size: large;
}

#search:hover {
    box-shadow: 1px 1px 5px gray;
}

.magnify {
    height: 2rem;    
    margin-right: 1.5rem;
}

.welcome {
    display: flex;
}

.user-pic {
    height: 4rem;
    margin-right: 1rem;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-info img {
    display: inline;
}

.bell {
    height: 2rem;
    margin-right: 2rem;
}
.prof-pic {
    height: 3rem;
    margin-right: 0.75rem;
}

button {
    padding: 5px 15px;
    background-image: linear-gradient(#0451f7, #659cf0);;
    color: white;
    border-radius: 25px;
    font-size: 12px;
}

button:hover {
    background-image: radial-gradient(rgb(10, 97, 228), #0765f1);
    box-shadow: 0px 2px 3px gray;
}

li {
    list-style-type: none;
}
.sidebar a {
    color: white;
}

.sidebar {
    background-color: #5074eb;
    color: white;
    grid-column: 1;
    grid-row: 1 / -1;
    display: grid;    
    align-content: start;
   
}

.title-box {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-content: start;
    margin-bottom: 2rem;
}

.sidebar-title {
    display: inline;
}

.meds {
    display: inline;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(6, 1fr);
    justify-content: start;
    align-items: center;
}

.sidebar img {
    height: 2rem;
    justify-self: center;
}

.help {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}

.user-info,
.header-buttons {
    justify-self: center;
}

.header {
    background-color: #eff6ff;
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.content-wrapper {
    background-color: #bfdbfe;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    gap: 10px;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.75rem;
    height: 75vh;
}

.card-icons img {
    height: 1.25rem;
    margin: 0px 5px;
}

.card-icons {
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}

.card {
    background-color: #eff6ff;
    border-left: 10px solid #1d4ed8;
    border-radius: 10px;
    height: 200px;
    /*width: 275px;*/
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
}

.card:hover {
    box-shadow: 2px 3px 3px 2px rgb(109, 109, 128);
}

.content-sidebar {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 75vh;
}

.content-sidebar-card {
    background-color: #eff6ff;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}